*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #dadada;
	 font-family:'Microsoft YaHei';
}
a{
	text-decoration: none;
	
	/*line-height:30px;*/
}
header{
	position: relative;
	height: 60px;
	background-color: #333;
	/*width: 100%;*/
}
header img{
	height: 60px;
	width: 60px;
	margin-left: 20px;
}
header ul{
	position: absolute;
	top: 0px;
	right: 20px;
}
header li{
	display: block;
	width: 60px;
	text-align: center;
	float: left;
	padding: 20px 10px;
}
header li a{
	color: #fff;	
}
header li:hover{
	background-color: #666;
	border-bottom: 1px solid red;
}
article,aside{
	margin: 30px;
	padding: 20px;
	background-color: white;
	box-shadow:1px 1px 2px 1px #848484;
}
article h1{
	padding: 5px 0;
}
article h3{
	padding: 10px 0;
	color: #808080;
	font-size: 16px;
}
article h6{
	color: #808080;
	font-size: 12px;
	line-height: 30px;
}
article p{
	text-indent: 2em;
}
article img{
	padding: 10px;
}
article a:hover{
	color: red;
} 
article ul{
	list-style-type: none;
}
article dl dd{
	display: inline-block;
	width: 200px;
	border: 1px solid #dadada;
	margin: 10px;
	text-align: center;
}
article dl img{
	width: 180px;
	margin: 5px auto;
}
article dl span{
	display: block;
	margin: 5px auto;
}
article ol{
	margin-left: 20px;
}
table td,th{
	border: 1px solid #dadada;
	width: 200px;
	text-align: center;
	
}
table{
	border: 1px solid #dadada;
	border-collapse:collapse;
}
table th{
	color: red;
	background-color: #333;
}
table .tableButton{
	background-color: #999;

}
aside{
	width: 300px;
	white-space: nowrap;
	float: right;
}
aside h2{
	display: block;
	border-left: 2px solid red;
	height: 40px;
	line-height: 40px;
	padding-left: 10px;
	font-size: 18px;
}
aside form div{
	margin: 15px 0;
	font-size: 12px;
}
aside form div label{
	float: left;
	display: block;
	width: 25%;
	text-align: right;
	padding-right: 15px;
}
aside form div p{
	margin-left: 25%;
	font-size: 12px;
	color: #888;
	padding-left: 15px;
}
aside #button{
	width: 100%;
	/*margin-left: 50px;*/
	/*left: -130px;*/
	/*margin: auto;*/
	font-size: 16px;
	background-color: #128fdc;
	color: white;
	border-radius: 10px;
	height: 40px;

}
footer{
	height: 60px;
	background-color: black;
	text-align: center;
}
footer p{
	padding-top: 20px;
	color: white;
}
main{
	margin-right: 370px;
}
.content{
	position: relative;
	overflow: hidden;
}